:root {
  // Colors
  --main-color: #9340ff;
  --default: #9340ff;
  --bg: #0c0c0c;
  --elements: #111111;
  --font: #d4d4d4;
  --font-darker: #6b6b6b;

  // Shadow
  --shadow: 10px 10px 0px #00000059;
  
  // Common Border
  --border-radius: 12px;
  --border: 0px solid var(--font-darker);

  // Profile Picture
  --profileBorder: 6px solid #9340ff;

  .value {
    text-shadow: 0px 0px 10px var(--default);
  }
  .type {
    text-shadow: 0px 0px 10px var(--font);
  }
}
